asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cryptography==2.5
decorator==4.0.10
Django>=1.11.18
django-admin-rangefilter==0.3.0
django-adminfilters==0.3
django-appconf==1.0.1
django-bootstrap-form==3.2
django-braces==1.9.0
django-cors-headers==1.1.0
django-dotenv==1.4.1
django-extensions==1.8.1
django-extra-fields==0.4
django-fsm==2.3.0
django-geoposition==0.2.2
django-jet==1.0.7
django-location-field==2.0.6
django-map-widgets==0.2.1
django-money==0.9.1
django-nose==1.4.2
django-oauth-toolkit==0.10.0
django-phonenumber-field==0.7.2
django-rest-framework-social-oauth2==1.0.4
django-user-accounts==1.2.0
djangorestframework==3.9.1
djangorestframework-jwt==1.7.2
drf-fsm-transitions==0.2.0
enum34==1.1.6
factory-boy==2.6.0
fake-factory==0.5.3
fcm-django==0.2.8
funcsigs==1.0.2
geopy==1.11.0
googlemaps==2.4.4
idna==2.5
ipaddress==1.0.22
ipdb==0.10.1
ipython==5.1.0
ipython-genutils==0.1.0
mock==2.0.0
nose==1.3.7
oauthlib==1.0.3
pathlib2==2.1.0
pbr==5.1.2
pexpect==4.2.1
phonenumbers==8.7.1
pickleshare==0.7.4
Pillow==5.4.1
pinax-theme-bootstrap==7.1.1
prompt-toolkit==1.0.7
psycopg2==2.7.4
psycopg2-binary==2.7.7
ptyprocess==0.5.1
py-moneyed==0.6.0
pycparser==2.19
pyfcm==1.2.3
Pygments==2.1.3
PyJWT==1.4.0
pyOpenSSL==19.0.0
python-gcm==0.3
python-mpesa==0.1.10
python-openid==2.2.5
python-social-auth==0.2.21
pytz==2015.6
requests==2.21.0
requests-oauthlib==0.6.2
simplegeneric==0.8.1
six==1.10.0
sorl-thumbnail==12.4a1

traitlets==4.3.1
urllib3>=1.23
wcwidth==0.1.7
