{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% load humanize %}

{% block content_title %}
    <h1>Key Performance Indicators</h1>
{% endblock %}
 
{% block result_list %}
    
<div class="results">
    
  <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Signups</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Customer</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Rider</a>
          </div>
        </th>
      </thead>

    <tbody>
      {% for row in signups %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.month|date:'M Y' }} </td>
        <td> {{ row.total_customer }} </td>
        <td> {{ row.total_rider }} </td>
      {% endfor %}
    </tbody>

      <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
          <td> Total </td>
          <td> {{ signups_total.total_customer }} </td>
          <td> {{ signups_total.total_rider }} </td>
          <td> {{ customer_signups_new }} </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
      </tr>

  </table>
</div>

{% endblock %}

{% block pagination %}{% endblock %}


