{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% load humanize %}

{% block content_title %}
    <h1>Rider revenu</h1>
{% endblock %}
 
{% block result_list %}
    
<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">First Name</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Last Name</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Base</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Revenu Cash</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Revenu Mpesa</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Revenu Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Fee Cash</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Fee Mpesa</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Fee Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Balance TtR</a> <!-- Balance Twende to Rider -->
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Loans</a> <!-- Future column for loans to micro-entrepreneurs -->
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in revenu %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.driver__first_name }} </td>
        <td> {{ row.driver__last_name }} </td>
        <td> {{ row.driver__base }} </td>
        <td style="text-align:right"> {{ row.revenu_cash | default:0 | intcomma }} </td>
        <td style="text-align:right"> {{ row.revenu_mpesa | default:0 | intcomma }} </td> 
        <td style="text-align:right; font-weight:bold; border-top:2px solid #DDDDDD;">
         {{ row.revenu_total | default:0 | intcomma }} </td>
        <td style="text-align:right"> {{ row.fee_cash | floatformat:2 | default:0 | intcomma }} </td>
        <td style="text-align:right"> {{ row.fee_mpesa | floatformat:2 | default:0 | intcomma }} </td> 
        <td style="text-align:right"> {{ row.fee_total | floatformat:2 | default:0 | intcomma }} </td>
        <td style="text-align:right; text-align:right; font-weight:bold; border-top:2px solid #DDDDDD;">
         {{ row.balance_total | floatformat:2 | default:0 | intcomma }} </td>
        <td style="text-align:right"> </td> 
      </tr>
      {% endfor %}
    </tbody>

      <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
          <td> Total </td>
          <td>  </td>
          <td>  </td>
          <td style="text-align:right"> {{ revenu_total.revenu_cash | floatformat:2 | default:0 | intcomma }} </td>
          <td style="text-align:right"> {{ revenu_total.revenu_mpesa | floatformat:2 | default:0 | intcomma }} 
          <td style="text-align:right"> {{ revenu_total.revenu_total | floatformat:2 | default:0 | intcomma }} </td>
          <td style="text-align:right"> {{ revenu_total.fee_cash | floatformat:2 | default:0 | intcomma }} </td>
          <td style="text-align:right"> {{ revenu_total.fee_mpesa | floatformat:2 | default:0 | intcomma }} </td>
          <td style="text-align:right"> {{ revenu_total.fee_total | floatformat:2 | default:0 | intcomma }} </td>
          <td style="text-align:right"> {{ revenu_total.balance_total | floatformat:2 | default:0 | intcomma }} </td>
          <td style="text-align:right"> </td>
      </tr>

  </table>
</div>

{% endblock %}

{% block pagination %}{% endblock %}

